/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Raleway';
    position: relative;
}

/* Фоновое видео */
.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    object-position: center;
    z-index: -1; /* Фоновое видео всегда снизу */
}

/* Контент */
.overlay {
    position: relative;
    z-index: 3; /* Контент выше вуали */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 50px;
}

h1 {
    font-weight: 800;
    font-size: 105px;
    font-family: 'Raleway';
    color: #000000;
    text-align: center;
    position: relative;
}

h1::after {
    content: "*";
    font-size: 105px;
    color: #000000;
}

/* Вуаль */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2; /* Вуаль между контентом и тултипом */
    opacity: 0;
    transition: opacity 0.3s ease; /* Плавное появление */
}

body:hover::before {
    opacity: 1;
}

/* Тултип */
.page__heading {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 5; /* Тултип поверх всего */
}

.page__heading::before {
    content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться."; /* Текст тултипа с переносами строк */
    position: absolute;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 20px;
    width: 660px;
    padding: 36px 44px;
    font-family: 'Raleway';
    font-weight: 400 ; /* Обычный шрифт */
    font-size: 35px;
    color: #000000;
    text-align: left;
    white-space: pre-line;
    z-index: 10; /* Тултип самый верхний */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease; /* Плавное появление */
}

/* Показываем тултип при наведении */
.page__heading:hover::before {
    opacity: 1;
}